<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор розсіяння зони плями</title>
</head>
<body>
    <h2>Калькулятор розсіяння зони плями</h2>
    <form action="/" method="post">
        <label for="distance">Відстань (м): </label>
        <input type="number" id="distance" name="distance" required min="1"><br><br>

        <label for="sensitivity">Чутливість (мВт/м²): </label>
        <input type="number" id="sensitivity" name="sensitivity" step="0.001" required min="0.01"><br><br>

        <label for="power">Потужність (мВт): </label>
        <input type="number" id="power" name="power" step="0.01" required min="0.3"><br><br>

        <input type="radio" id="ellipse" name="plume_type" value="ellipse">
        <label for="ellipse">Ввести кути</label>
        <input type="radio" id="rectangle" name="plume_type" value="rectangle">
        <label for="rectangle">Ввести довжини</label><br><br>

        <div id="ellipse_shape" style="display:none">
            <label for="angle_width">Кут Ширини (°): </label>
            <input type="number" id="angle_width" name="angle_width" step="0.01" min="1" max="180"><br><br>

            <label for="angle_height">Кут Висоти (°): </label>
            <input type="number" id="angle_height" name="angle_height" step="0.01" min="1" max="180"><br><br>
        </div>

        <div id="rectangle_shape" style="display:none">
            <label for="plume_width">Ширина Плями (м): </label>
            <input type="number" id="plume_width" name="plume_width" step="0.001" min="0.001"><br><br>

            <label for="plume_height">Висота Плями (м): </label>
            <input type="number" id="plume_height" name="plume_height" step="0.001" min="0.001"><br><br>
        </div>

        <input type="submit" value="Розрахувати">
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    <script>
        let radioButtons = document.getElementsByName('plume_type');
        let ellipse_shape = document.getElementById('ellipse_shape');
        let rectangle_shape = document.getElementById('rectangle_shape');

        for (let i = 0; i < radioButtons.length; i++) {
            radioButtons[i].addEventListener('change', function() {
                if (this.value === 'ellipse') {
                    ellipse_shape.style.display = 'block';
                    rectangle_shape.style.display = 'none';
                } else if (this.value === 'rectangle') {
                    ellipse_shape.style.display = 'none';
                    rectangle_shape.style.display = 'block';
                }
            });
        }
    </script>
</body>
</html>
