<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Модуль 2</title>
</head>
<body>
     <h2>Калькулятор мінімальної ефективної дистанції</h2>
    <form action="/module_2" method="post">
        <label for="angle_width">Кут Ширини (°): </label>
        <input type="number" id="angle_width" name="angle_width" step="0.01" min="1" max="180" required><br><br>

        <label for="angle_height">Кут Висоти (°): </label>
        <input type="number" id="angle_height" name="angle_height" step="0.01" min="1" max="180" required><br><br>

        <label for="min_plume_size">Мінімальний розмір плями (м): </label>
        <input type="number" id="min_plume_size" name="min_plume_size" step="0.01" min="0" max="3" required><br><br>

        <input type="submit" value="Розрахувати">

    </form>

</body>
</html>